#editor {
	min-height: 300px;
}

#editor > div {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

#editor-tree {
	position: absolute;
	width: 18em;
	padding: 0.4em;
}

#editor-tree > div {
	background-color: #fff;
	padding-bottom: 1em;
}

#editor-tree > h3 {
	margin-bottom: 0.4em;
	padding: 0.4em;
	height: 1.1em;
	color: #459e00;
}

#editor-tabs {
	margin-left: 19.4em;
}
#editor-tabs li .ui-icon-close {
	float: left;
	margin: 0.1em 0.1em 0 0;
	cursor: pointer;
}

#editor-toolbar {
	padding: 4px 4px;
}

#editor-toolbar-loader {
	position: relative;
	float: right;
	background: url(../images/ajax-loader.gif);
	width: 24px;
	height: 24px;
	display: none;
}

#editor-dialog-newfile label, #editor-dialog-newfile input {
	display: block;
}

#editor-dialog-newfile label {
	margin-top: 0.5em;
}

#error-box {
	padding: 0em;
	margin: 0em;
}

#error-box span.ui-icon-info,
#error-box span.ui-icon-alert {
	float: left;
	display: inline-block;
}

#error-box strong {
	margin: 0.1em;
	display: inline-block;
}

#error-box span.ui-icon-close {
	float: right;
	margin: -0.2em 0.1em 0 0;
	cursor: pointer;
}

#error-box > div {
	display: none;
	padding-left: 0.7em;
	padding-right: 0.7em;
	margin: 0.4em 0em;
}


div.editor-file-editor > div {
	background-color: #fff;
}

.CodeMirror {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

